<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icon-movie.png">
     <link rel="stylesheet" href="/css/style.css">
    
    <title> {{title}} </title>
</head>
<body>
    <main class="main-content">
<header class="head-1">
    <a href="/">Similar Movies</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>
        <div class="about-content">

        <h1>About</h1>
        <img class="portrait" src="/img/image3-c.png"  >
        <p>You can use my app to find Similar movies that you are searching. The Movie Database (TMDB) API to find similar movies.</p>
        </div>
        <a href="/">Back to Home</a>
<footer>
    <p class="p-footer">Created by {{name}} 
      <a href="https://www.linkedin.com/in/amadeoramirez/" class="imgfooter" target="_blank">
        <img src="/img/linkedin.png" alt="LinkedIn" >
    </a>
     <a href="https://github.com/amadeoquinrami" class="imgfooter" target="_blank" >
        <img src="/img/github-c.png" alt="Github" >
    </a>
    </p>
</footer>

    </main>

    
</body>
</html>