<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icon-movie.png">
     <link rel="stylesheet" href="/css/style.css">
    
    <title> {{title}} </title>
</head>
<body>
    <main class="main-content">
<header>
    <a href="/">Similar Movies</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>
        <h1>About</h1>
        <p>You can use my app to find Similar movies that you are searching. The Moviie Database (TMDB) API to find siimiilar movies.</p>
        <p>Created by {{name}} </p>
        <a href="/">Back to Home</a>

    </main>

    
</body>
</html>