<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title> {{title}} </title>
</head>
<body>
    <main class="main-content">
        <h1>Help</h1>
        <p> {{helpText}}</p>
        <h2>How to use:</h2>
        <ol>
            <li>Enter a movie you would love to watch in the search bar!</li>
            <li>Select a movie from the results</li>
            <li>Then you can see similar movies from one that you originally searched!</li>
        </ol>
        <p>Created by {{name}} </p>
        <a href="/">Back to Home</a>
    </main>
    
</body>
</html>