<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icon-movie.png">
     <link rel="stylesheet" href="/css/style.css">
    {{!-- <link rel="stylesheet" href="/css/styles.css"> --}}
    <title> {{title}} </title>
</head>
<body>
    <main class="main-content">
<header class="head-1">
    <a href="/">Similar Movies</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>
        <h1>Help</h1>
        <p> {{helpText}}</p>
        <h2>How to use:</h2>
        <ol>
            <li>Enter a movie you would love to watch in the search bar!</li>
            <li>Select a movie from the results</li>
            <li>Then you can see similar movies from one that you originally searched!</li>
        </ol>
       <footer>
    <p class="p-footer">Created by {{name}} 
      <a href="https://www.linkedin.com/in/amadeoramirez/" class="imgfooter" target="_blank">
        <img src="/img/linkedin.png" alt="LinkedIn" >
    </a>
     <a href="https://github.com/amadeoquinrami" class="imgfooter" target="_blank" >
        <img src="/img/github-c.png" alt="Github" >
    </a>
    </p>
</footer>
        <a href="/">Back to Home</a>
    </main>
    
</body>
</html>