<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icon-movie.png">
    <link rel="stylesheet" href="/css/style.css">
    {{!-- <link rel="stylesheet" href="/css/styles.css"> --}}
    <title>{{title}}</title>
</head>
<body>

    <main class="main-content">
       
<header class="head-1">
    <a href="/">Similar Movies</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>
        <h1 class="similar-title"> {{title}} </h1>
        <p> Search for a movie and find similar titles!</p>

        <form id="search-form">
            <input type="text" id="search-input" placeholder="Enter movie name..." required>
            <button type="submit">Search</button>
        </form>
            <section id="search-results"></section>
            <section id="similar-results"></section>

    </main>

<footer>
    <p class="p-footer">Created by {{name}} 
      <a href="https://www.linkedin.com/in/amadeoramirez/" class="imgfooter" target="_blank">
        <img src="/img/linkedin.png" alt="LinkedIn" >
    </a>
     <a href="https://github.com/amadeoquinrami" class="imgfooter" target="_blank" >
        <img src="/img/github-c.png" alt="Github" >
    </a>
    </p>
</footer>
<button id="back-to-top" class="back-to-top">Top</button>
    <script src="/js/app.js"></script>
</body>
</html>