<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    {{!-- <link rel="stylesheet" href="/css/styles.css"> --}}
    <title>{{title}}</title>
</head>
<body>
    <main class="main-content">
        <h1 class="similar-title"> {{title}} </h1>
        <p> Search for a movie and find similar titles!</p>

        <form id="search-form">
            <input type="text" id="search-input" placeholder="Enter movie name..." required>
            <button type="submit">Search</button>
        </form>
            <section id="search-results"></section>
            <section id="similar-results"></section>

    </main>

<footer>
    <p>Created by {{name}} </p>
</footer>
    <script src="/js/app.js"></script>
</body>
</html>