:root{
    --background-color: #191970;
    --background1-color: #9955BB;
    background-color: #cd1c18;
background-image: linear-gradient(326deg, #cd1c18 0%, #66023c 74%);
}
body {
    background-color: #cd1c18;
    background-image: linear-gradient(365deg, #cd1c18 0%, #66023c 74%);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 

    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.similar-title {
    color: var(--background1-color);
    font-family: Georgia, 'Times New Roman', Times, serif;

}
section {
    color: white;
}